@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

:root {
    --primary-color: #8DA9C4;
    --secondary-color: #EEF4ED;
    --accent1-color: #13315C;
    --accent2-color: #134074;
    
    --heading-font: Tenor Sans, serif;
    --paragrph-font: Tenor Sans , serif;
    
}
*{
    margin: 0;
    padding: 0;
}
h1 {
    color: var(--accent1-color);
    position: absolute;  
    background-color: var(--primary-color);
    text-align: center;
}
h2 {
    color: var(--accent2-color);
}

body {
    font-family: var(--paragrph-font);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
nav a {
    padding: 5px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    float: right;
}
.hero text {
    text-align: left;
    position: relative;
}
.article {
    float: right;
    width: 50px;
}
footer img {
    width: 15px;
    height: 15px;
}
footer {
    
    clear: both;
}
